@charset "UTF-8";
.header {
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ul {
  display: flex;
}
.header-ul li {
  margin-left: 24px;
}

.header-btn,
.header-mask {
  display: none;
}

/* main */
.mainvisual {
  background-image: url(../img/main-portfolio.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 140px 0 40px;
}

.mainvisual-container {
  display: flex;
  align-items: center;
}

.mainvisual img {
  padding-right: 20px;
}

.mainvisual-textunit {
  margin-left: 8px;
  padding-bottom: 12px;
}

.mainvisual-title {
  font-size: 5rem;
  font-family: "Helvetica";
}

.mainvisual-text {
  line-height: 24px;
  margin-top: 8px;
}

/* service */
.service-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.service-list {
  text-align: center;
  border: 0 solid #fff;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.12);
  border-width: 28px;
}

.service-list:nth-of-type(1) {
  margin-top: 16px;
}

.service-list:nth-of-type(2) {
  margin-top: 82px;
}

.service-list:nth-of-type(3) {
  margin-top: 164px;
}

.service-title {
  margin-top: 12px;
  font-size: 2rem;
}

.service-text {
  text-align: justify;
  margin-top: 12px;
  line-height: 24px;
}

/* about */
.about {
  margin-top: 96px;
  background-color: #EDF2FA;
  padding-bottom: 72px;
}

.about-container {
  display: flex;
  padding: 0 60px;
}

.about-image {
  margin-top: 54px;
  object-fit: cover;
}

.about-textunit {
  padding-left: 50px;
  margin-top: 40px;
}

.about-text {
  text-align: justify;
  line-height: 24px;
  margin-top: 8px;
}

.about-qa {
  font-size: 1.8rem;
  margin-top: 8px;
}

/* acordion */
.accordion-container {
  max-width: 500px;
  width: 82%;
  margin: 8px 0;
  border: 1px solid gainsboro;
  border-bottom: 0;
}

.accordion-tab {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  border-top: 0;
  border-bottom: 1px solid gainsboro;
  background-color: #fff;
}

.accordion-tab::after {
  content: "＋";
  position: absolute;
  right: 20px;
}

.accordion-tab.active::after {
  content: "ー";
}

.accordion-content {
  padding: 10px 20px;
  display: none;
  background: #EDF2FA;
  border-bottom: 1px solid gainsboro;
}

.accordion-content.active {
  display: block;
}

/* works */
.swiper-container {
  position: relative;
}

.swiper {
  width: calc(100% - 100px);
  box-sizing: content-box;
}

.swiper-wrapper {
  margin-top: 60px;
  text-align: center;
}

.swiper-slide img {
  object-fit: cover;
}

.swiper-button-prev {
  top: calc((100% - 50px) * 0.5);
  margin-top: -22px;
  padding-right: 20px;
}

.swiper-button-next {
  top: calc((100% - 50px) * 0.5);
  margin-top: -22px;
  padding-left: 20px;
}

.works-button {
  text-align: center;
  padding-bottom: 87px;
}

.works-button input {
  width: 188px;
  height: 60px;
  background-color: #339C64;
  color: #fff;
  border-radius: 10px;
  margin-top: 48px;
}

.works-button input:hover {
  background-color: #fff;
  color: #339C64;
  border: 1px solid #339C64;
}

/* contact */
.contact {
  background-color: #EDF2FA;
  padding-bottom: 64px;
}

.contact-container {
  width: 480px;
  margin: 0 auto;
  margin-top: 8px;
}

.contact-container dt {
  text-align: left;
  padding-top: 24px;
}

.contact-container span {
  color: #E90000;
}

.contact-container input {
  background-color: #fff;
  width: 480px;
  height: 48px;
  margin-top: 8px;
  border-radius: 5px;
}

.contact-container textarea {
  background-color: #fff;
  width: 480px;
  height: 140px;
  margin-top: 8px;
  border-radius: 5px;
}

::placeholder {
  padding: 12px 0 0 16px;
  color: #ccc;
}

.contact-button {
  text-align: center;
}

.contact-button input {
  width: 188px;
  height: 60px;
  background-color: #339C64;
  color: #fff;
  border-radius: 10px;
  margin-top: 32px;
}

.contact-button input:hover {
  color: #339C64;
  background-color: #fff;
  border: 1px solid #339C64;
}

.footer p {
  font-size: 1.2rem;
  text-align: center;
  padding: 32px 0;
}

.worksunder-mainvisual {
  background-image: url(../img/works-main.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 403px 20px;
}

.worksunder-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.worksunder-title {
  font-size: 48px;
  color: #fff;
  border: 1px solid #339C64;
  background-color: #339C64;
  border-width: 12.5px;
}

.worksunder-block {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.worksunder-list:nth-of-type(3) {
  margin-top: 100px;
}

.worksunder-list:nth-of-type(4) {
  margin-top: 100px;
}

.worksunder-list:nth-of-type(5) {
  margin-top: 100px;
}

.worksunder-button {
  text-align: center;
  padding-bottom: 60px;
}

.worksunder-button input {
  width: 188px;
  height: 60px;
  background-color: #339C64;
  color: #fff;
  border-radius: 10px;
  margin-top: 48px;
}

.worksunder-button input:hover {
  background-color: #fff;
  color: #339C64;
  border: 1px solid #339C64;
}

.worksunder-pagenation {
  margin-top: 64px;
  font-size: 2rem;
  padding-right: 20px;
}

.worksunder-pagenation2 {
  margin-top: 64px;
  font-size: 2rem;
  padding-left: 30px;
}

.worksunder-pagebox {
  display: flex;
  justify-content: center;
}

.sneakers-mainvisual {
  background-image: url(../img/sneakers-main.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 403px 20px;
  object-fit: cover;
}

.secondlayer-image {
  margin-top: 80px;
}

.secondlayer-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  font-size: 2.4rem;
}

.secondlayer-container dt {
  width: 22%;
  font-weight: bold;
  padding-left: 90px;
}

.secondlayer-container dt:not(:first-child) {
  margin-top: 66px;
}

.secondlayer-container dd {
  width: 78%;
  padding-left: 54px;
}

.secondlayer-container dd:nth-of-type(2) {
  margin-top: 70px;
}

.secondlayer-container dd:nth-of-type(3) {
  margin-top: 66px;
}

.secondlayer-container dd:nth-of-type(4) {
  margin-top: 66px;
}

.secondlayer-button {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 108px;
}

.secondlayer-button input {
  width: 188px;
  height: 60px;
  background-color: #339C64;
  color: #fff;
  border-radius: 10px;
  margin-top: 48px;
}

.secondlayer-button input:hover {
  background-color: #fff;
  color: #339C64;
  border: 1px solid #339C64;
}

@media screen and (max-width: 600px) {
  .site-title {
    font-size: 80px;
  }

  .wrapper {
    max-width: 345px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  letter-spacing: 0.08em;
  font-size: 1.6rem;
  font-family: "Arial", "Hiragino Kaku Gothic ProN", sans-serif;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style: none;
}

.site-title {
  font-size: 3.2rem;
  padding: 20px 0;
  font-family: "Helvetica";
}

.section-title {
  font-weight: normal;
  text-align: center;
  padding-top: 40px;
}

.section-title .en {
  font-size: 3.2rem;
  display: block;
}

.section-title .ja {
  display: block;
  margin-top: 8px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title .ja:before,
.section-title .ja:after {
  content: "";
  width: 8px;
  border-top: 1px solid;
}

.section-title .ja:before {
  margin-right: 5px;
}

.section-title .ja:after {
  margin-left: 1px;
}

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

.hide {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0.5s;
}

/*# sourceMappingURL=style.css.map */
